/* Default colour for some elements */
:root {
    --primary-colour: rgba(255, 20, 20, 1); /* Red */    
    --secondary-colour: rgba(204, 85, 0, 1); /* Orange */
    --accent-colour: rgba(0, 0, 0, 1); /* Black */
    --accent-colour-alt: rgba(51, 51, 51, 1); /* Dark Grey */
    --background-colour: rgba(255, 255, 255, 1); /* Pure White */
}

/* General body elements format accross all pages */
body {
    box-sizing: border-box;
    display: flex;
    background-color: var(--background-colour);
    /* TODO: May need this to be a global variable but for now, it's fine. */
    font-family: "Be Vietnam Pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Head title format for specifc pages */
header h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-colour);
    font-size: 1.75rem;
    margin: 1.5rem 0;
}

/* Content wrapper method accross all the pages (except main). */
.flex-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* SIDEWAY NAVIGATION BAR */

nav {
    position: sticky;
    top: 0;
    /* background-color: rgba(255, 20, 20, 0.5); */
    background-color: rgba(35, 35, 35, 1);
    width: 5rem;
    min-height: 100vh;
    transition: all 0.3s linear;
    z-index: 1000;
    flex-shrink: 0;
}


/* TOP NAVIGATION BAR */

.top-navigation-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 0;
}

.top-navigation-bar strong {
    transition: all 0.15s linear;
    opacity: 0;
}

.top-navigation-bar #click-button {
    position: absolute;
    font-size: 1.175rem;
    margin-left: 1.25rem;
    color: var(--background-colour);
    cursor: pointer;
}


/* EXPANDED NAVIGATION BAR */

nav.active-button {
    width: 11rem;
    flex-shrink: 0;
}


/* MAIN CONTENT DYNAMIC RESIZE WITH NAVIGATION BAR */

.tournament-news, 
.archived-page, 
.staff-page,
.song-page,
.mappool-page,
.vot-page
{
    padding-top: 1rem;
    transition: margin-left 0.25s linear, width 0.25s linear;
    width: calc(100% - .25rem);
    margin-left: .25rem;
}

nav.active-button ~ 
.tournament-news, 
.archived-page, 
.staff-page,
.song-page,
.mappool-page,
.vot-page
{
    margin-left: .25rem;
    width: calc(100% - .25rem);
}


/* TOP NAVIGATION BAR WHEN EXPANDED */

nav.active-button .top-navigation-bar {
    -webkit-user-select: none;  /* Safari compatability. */
    user-select: none;          /* Others broswer compatability. */
}

nav.active-button .top-navigation-bar strong {
    font-weight: bold;
    text-wrap: nowrap;
    color: var(--background-colour);
    opacity: 1;
}

nav.active-button .top-navigation-bar #click-button {
    margin-left: 9.5rem;
    transition: margin-left 0.3s linear;
} 


/* USER AUTHENTICATED/UNAUTHENTICATED INFOMATION */

.user-info, 
.failed-user-info 
{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user-info .user-image, 
.failed-user-info .authentication-failed-image 
{
    width: 3.125rem; 
    border-radius: 100%;
    border: 1px solid var(--accent-colour-alt);
    margin-left: .5rem;
}

.user-info p, 
.failed-user-info p 
{
    opacity: 0;
    text-wrap: nowrap;
    transition: 0.3s linear;
}

nav.active-button .user-info p, 
nav.active-button .failed-user-info p 
{
    opacity: 1;
    font-weight: 600;
    color: var(--background-colour);
    margin-left: 1rem;
}


/* NAVIGATION LINKS */

nav ul {
    margin: 2rem 1.5rem;
    line-height: 1.75rem;
}

nav ul li:not(:last-child) {
    margin-bottom: 7.25rem;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-colour);
    transition: all 0.1s linear;
    padding: 0.15rem 0;
}

nav ul li a i {
    position: absolute;
    font-size: 1.2rem;
}

nav ul li a p {
    opacity: 0;
    text-wrap: nowrap;
}

nav ul li a:hover {
    background-color: var(--secondary-colour);
    color: var(var(--background-colour));
    border-radius: 4rem;
}


/* NAVIGATION LINKS WHEN EXPANDED */

nav.active-button ul li a p {
    opacity: 1;
    margin-left: 1.5rem;
}

nav.active-button ul li a i {
    position: relative;
}


/* BOX OF CONTENTS FORMAT FOR SPECIFIC PAGES*/

.announcement-box,
.lower-general-information-box
{
    background-color: rgba(220, 220, 220, 1);
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border-right: 5px solid rgba(100, 100, 100, 0.5);
    box-shadow: 0.45rem 0.45rem 0.45rem 0 rgba(0, 0, 0, 0.2);
}

.announcement-box h2,
.lower-general-information-box h2 
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1rem 0;
    color: var(--primary-colour);
}

.announcement-box p,
.lower-general-information-box ul li
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-colour);
    padding-left: .5rem;
    padding-bottom: 1rem;
}

.announcement-box img {
    padding: .25rem 0;
}

.youtube-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.youtube-iframe-container iframe {
    position: absolute;
    width: 95%;
    height: 95%;
    overflow: hidden;
}


/* BOXES OF DIRECT LINKS FORMAT FOR SPECIFIC PAGES */

.direct-link-container,
.mappool-card-container
{
    background-color: rgba(220, 220, 220, 1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border-right: 5px solid rgba(100, 100, 100, 0.5);
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.direct-link-container:not(:first-child),
.mappool-card-container:not(:first-child)
{
    margin-left: .75rem;
}

.direct-link-container a {
    font-weight: bold;
    font-size: 0.85rem;
    color: var(--accent-colour);
    -webkit-user-select: none; /* Safari compatability. */
    user-select: none; /* Others broswer compatability. */
}

/* DARK/LIGHT MODE TOGGLE ICON */

nav ul li #dark-mode, nav ul li #light-mode {
    justify-content: center;
    color: var(--background-colour);
    padding: 0.15rem 0;
    font-size: 1.2rem;
}

nav ul li:last-child {
    margin-top: 8.5rem;
}


/* DARK MODE */

body.dark-theme {
    --primary-colour: rgba(255, 20, 20, 0.8); /* Slightly desaturated red */
    --secondary-colour: rgba(204, 85, 0, 1); /* Orange */
    --accent-colour: rgba(255, 255, 255, 1); /* Pure White */
    --accent-colour-alt: rgba(150, 150, 150, 1); /* Lighter dark grey */
    --background-colour: rgba(0, 0, 0, 0.8); /* Slightly desaturated black */
}

body.dark-theme nav ul li a,
body.dark-theme nav.active-button .top-navigation-bar strong,
body.dark-theme .top-navigation-bar #click-button,
body.dark-theme nav.active-button .user-info p, 
body.dark-theme nav.active-button .failed-user-info p,
body.dark-theme nav ul li #dark-mode, 
body.dark-theme nav ul li #light-mode {
    color: var(--accent-colour);
}

body.dark-theme .announcement-box {
    background-color: var(--accent-colour-alt);
    border-right: 5px solid rgba(100, 100, 100, 1);
    box-shadow: 0.45rem 0.45rem 0.45rem 0 rgba(0, 0, 0, 1.15);
}

body.dark-theme .direct-link-container,
body.dark-theme .mappool-card-container
{
    background-color: var(--accent-colour-alt);
    border-right: 5px solid rgba(100, 100, 100, 1);
    box-shadow: 0.45rem 0.45rem 0.45rem 0 rgba(0, 0, 0, 1.15);
}


/* NO-HEADER PAGES */

.mappool-page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mappool-card-container a {
    font-weight: bold;
    color: var(--accent-colour);
    -webkit-user-select: none; /* Safari compatability. */
    user-select: none; /* Others broswer compatability. */
}

.mappool-card-container h1,
.mappool-card-container h2,
.mappool-card-container h3,
.beatmap-creator-row,
.beatmap-attribute-row
{
    display: flex;
    justify-content: center;
}

.mappool-card-container h1,
.mappool-card-container h2
{
    font-weight: bold;
}

.beatmap-creator-row a {
    margin-left: .25rem;
}


/* VOT-SPECIFIC PAGE */

.upper-general-information-box p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-colour);
    padding: 1rem;
}

.lower-general-information-box h3 {
    font-weight: bold;
    color: var(--secondary-colour);
    padding-left: .5rem;
    padding-bottom: 1rem;
}

.lower-general-information-box ul li {
    line-height: 1.275rem;
    list-style: disc inside;
}
