/* GLobal Styling.  */
* {
    /* Website perfection tricks. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F3EEEA;
    /* Trick for font sizing. */
    font-size: 100%;
}

.users-image {
    /* Adjust users avatar width. */
    /* TODO: This would need to be tweaked again after implementing PHP to call users
    image data to appear on this website. */
    /* For testing purposes, keep this for now. */
    width: 50px;
    /* Circlize the avatar. */
    border-radius: 100%;
    /* Slight border colour for better UI. */
    border: 1px solid #eee;
}

nav {
    /* Adjust itself to the nearest positioned attributes. */
    /* If no positioned attributes were found, it will use the document body as it 
    based to aligned to. */
    position: absolute;
    /* TODO: This 2 should be removable. */
    top: 0;
    left: 0;
    /* Extend the navigation bar's height value. */
    height: 100vh;
    /* Set navigation bar's width value (push the none-underlinded text under
       the underlineded ones). 
    */
    width: 80px;
    /* Set navigation bar's background colour. */
    background-color: #12171e;
    /* Tween the navigation bar in with padding around it so the transition 
       can work properly. 
    */
    padding: 0.4rem 0.8rem;
    /* Create smooth ease transition within' set timer. */
    transition: all 0.3s linear;
}

nav.active-button {
    /* Expand the navigation bar's width value when clicked on the 'menu' icon. */
    width: 200px;
}

/* Responsive with Navigation bar when it extended. */
/* TODO: Perhaps remove this styling this works perfectly. */
nav.active-button ~ .tournament-news {
    left: 200px;
    width: calc(100% - 200px);
}

/* Responsive with Navigation bar when it extended. */
nav.active-button ~ .archieved-page {
    left: 200px;
    width: calc(100% - 200px);
}

/* TODO: Perhaps remove the last 2 line of codes should work still fine. */
nav #click-button {
    /* Adjust itself to the nearest positioned attributes. */
    /* If no positioned attributes were found, it will use the document body as it 
    based to aligned to. */
    position: absolute;
    /* Change icon colour. */
    color: white;
    /* Change icon's size. */
    font-size: 1.5rem;
    /* Push 'menu' icon up. */
    top: .8rem;
    /* Push 'menu' icon to the left. */
    left: 35%;
    /* transform: translateX(-50%); */
    cursor: pointer;
}

/* TODO: Create back-and-forth smooth sliding effect using animation attribute perhaps. */
nav.active-button #click-button {
    /* Push 'menu'  icon to the left when cliked on. */
    margin-left: 6rem;
    /* Create smooth ease transition within' set timer. */
    transition: 0.3s linear;
}

/* TOURNAMENT HEAD TITLE INSIDE NAVIGATION BAR */

/* TODO: Perhaps remove the height value should work still fine. */
nav .top-navigation-bar {
    /* Change colour for the text and icon attached in with the custom class. */
    color: white;
    display: flex;
    align-items: center;
    /* height: 50px; */
    margin: .5rem 0;
    width: 90%;
    /* Prevent it changes the text-editing cursor. */
    pointer-events: none;
    /* Hidden when not click on the 'navigation' button. */
    opacity: 0;
    transition: 0.3s;
}

nav.active-button .top-navigation-bar {
    /* Show when clicked on ''navigation' button. */
    opacity: 1;
}

.top-navigation-bar i {
    margin: 0 1.5rem;
    font-size: 1.2rem;
}

.top-navigation-bar i strong {
    padding: 0 .3rem;
}

/* PROFILE DETAIL */

/* TODO: Perhaps remove 'align-items' still work. */
.users {
    display: flex;
    /* Center evenly the text and avatar. */
    align-items: center;
    margin: 1.5rem 0;
    border: 1px solid green;
}

.users p {
    font-weight: 600;
    color: white;
    opacity: 0;
    margin-left: .5rem;
    /* border: 3px solid red; */
}

nav.active-button p {
    opacity: 1;
}

/* NAVIGATION LINKS */

nav ul li {
    /* Shifting or customize the current elements only without affecting the bigger (or general) tag/custom class wrapping over it. */
    position: relative;
    /* Remove dot-pointed on each <li> elements. */
    list-style-type: none;
    height: 185px;
    margin: 2rem auto;
    width: 90%;
    /* Height spacing between each line of texts. */
    line-height: 75px;
}

nav ul li a {
    color: white;
    display: flex;
    /* Center evenly the text and icon. */
    align-items: center;
    border-radius: 4rem;
}

nav ul li a:hover {
    /* Set navigation links' background colour. */
    background-color: white;
    /* Keep the navigation links' colour after hovering on top of it. */
    color: #12171e;
}

/* TODO: Perhaps remove last 3 attributes still work. */
nav ul li a i {
    min-width: 50px;
    text-align: center;
    /* height: 13px; */
    font-size: 1.2rem;
    border-radius: 12px;
    /* background-color: pink; */
    /* line-height: 48px; */
    /* border: 1px solid red; */
}

nav .navigation-links {
    opacity: 0;
}
nav.active-button .navigation-links {
    opacity: 1;
    margin: 0 0 .2rem .5rem;
}

/* SHORT TOURNAMENT BOX ANNOUCEMENT */

/* TODO: Perhaps remove top value will still work. */
.tournament-news {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    /* top: 0; */
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
/* BUG: Still show the body background when clicked the 'menu' icon. */

.information-box {
    /* border: 3px solid orange; */
    background-color: lightcoral;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.main-content {
    padding: 1rem 0;
    font-size: 1rem;
}


/* .youtube-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}

.youtube-iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}    */


/* ARCHIEVE PAGE */

.archieved-page {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    /* top: 0; */
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: #7C9D96;
    margin: .5rem;
}

.flex-container {
    display: flex;
    /* Create gap between each elements. */
    margin-top: 1rem;
    /* Center text. */
    text-align: center;
    justify-content: space-between;
}

.box-of-content {
    background-color: lightcoral;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 25px;
    border: 5px solid lightgray;
}

.box-of-content a {
    color: lightgreen;
    font-weight: bold;
    font-size: 13.6px;
}

.box-of-content p {
    user-select: none;
    color: lightgreen;
    font-weight: bold;
    font-size: 13.6px;
}