# Sus information.
**/.env

# Website images.
**/img

# Composer files.
**/vendor

# MacOS-specific CRUD.
.DS_Store
Thumbs.db
Icon*
desktop.ini

# Dropbox Linux/MacOS files.
.dropbox*

# Docker building files.
docker-compose.yml
dockerfile
.dockerignore