# Composer
**/vendor
composer.*

# Database
db/

# MacOS-specific CRUD
.DS_Store
Thumbs.db
Icon*
desktop.ini

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dropbox Linux/MacOS files
.dropbox*

# Server static web configuration
*.htaccess
*.*.htaccess
*-*.htaccess
!example.htaccess

# NGINX
*.conf
*.*.conf
*-*.conf
!example.conf

# PHP
*.ini
*.*ini
*-*ini
!example.ini

# Sus information except the template one
*.env
*.*.env
*-*.env
!example.env

# Docker building files
*docker-compose.yaml
*docker-compose.*.yaml
*docker-compose-*.yaml

*docker-compose.yml
*docker-compose.*.yml
*docker-compose-*.yml

!example.yaml
!example.yml

# Ref: https://docs.docker.com/build/concepts/dockerfile/#filename
*Dockerfile
*.Dockerfile

!example.Dockerfile

.dockerignore
