# Reference to osu!web docmentation for detailed steps on how to set up first 3 lines: #
# ------------------------------------------------------------------------------------ #
#   https://osu.ppy.sh/docs/index.html#authentication (For first 2 lines)              #
#   https://osu.ppy.sh/docs/index.html#authorization-code-grant (For the 3 line)       #

CLIENT_ID=
CLIENT_SECRET=

CALLBACK_URL=http://localhost:<port-number>/admin/AccessToken.php

# Reference to MariaDB documentation for detailed steps on how to set up these         #
# environment variables:                                                               #
# ------------------------------------------------------------------------------------ #
#   (go to "Connect to MariaDB from the MariaDB command line client" section)          #
#   https://hub.docker.com/_/mariadb                                                   #

DATABASE_HOST=

DATABASE_ROOT_PASSWORD=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
